.logo {
  font-size: 2.3rem;
  color: black;
  font-weight: 600;
  text-decoration: none;
}
.logo:hover {
  color: black;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0 24px;
}
.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header__searchInput {
  height: 12px;
  padding: 16px;

  width: 80%;
  margin-left: auto;
  border: 1px solid #666666;
}
.header__searchIcon {
  padding: 5px;
  height: 34px !important;
  background-color: #2196f3;
}
.header__optionLineOne {
  font-size: 1rem;
  color: black;
  margin-left: auto;
  padding: 0 20px;
  font-weight: 600;
}
.header__optionLineTwo {
  font-size: 12px;
  font-weight: bold;
  padding-top: 5px;

  color: black;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  margin-left: 60px;
}

.header__nav2 {
  display: flex;
  justify-content: space-evenly;
  margin-left: 60px;
}
.header__option {
  display: flex;
  flex-direction: column;
  /* margin-left: 10px; */
  text-align: center;
  color: white;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}
.header__optionLineThree {
  font-size: 1rem;
  color: black;
  margin-left: auto;
  padding: 0 20px;
  font-weight: 600;
}

.header__optionLineFour {
  font-size: 1rem;
  color: black;
  margin-left: auto;
  padding: 0 20px;
  font-weight: 600;
}
.header__optionLineOne:hover {
  color: #ff5a5f;
  /* font-size: 80%; */
  text-decoration: underline;
}
.header__optionLineThree:hover {
  color: #00a699;
  /* font-size: 80%; */
  text-decoration: underline;
}
.header__optionLineFour:hover {
  color: blue;
  /* font-size: 80%; */
  text-decoration: underline;
}
